body{
-webkit-text-size-adjust: none;
}
.container{
/*perspective*/
-webkit-perspective:200px;
/*perspective-origin*/
-webkit-perspective-origin:50% 85%;
left:20%;
top:30%;
position:absolute;
}
.cube{
position:relative;
width:576px;
height:576px;
/*transform-style*/
-webkit-transform-style:preserve-3d;
}
.cube div{
position:absolute;
width:576px;
height:576px;
}
.front{
/*transform*/
-webkit-transform:translateZ(288px);
opacity:1;
}
.back{
/*transform*/
-webkit-transform:translateZ(-288px) rotateY(180deg);
opacity:1;
}
.right{
/*transform*/
-webkit-transform:rotateY(90deg) translateX(288px);
/*transform-origin*/
-webkit-transform-origin:center right;
opacity:1;
}
.left{
/*transform*/
-webkit-transform:rotateY(-90deg) translateX(-288px);
/*transform-origin*/
-webkit-transform-origin:center left;
opacity:1;
}
.top{
/*transform*/
-webkit-transform:rotateX(-90deg) translateY(-288px);
/*transform-origin*/
-webkit-transform-origin:top center;
opacity:1;
}
.bottom{
/*transform*/
-webkit-transform:rotateX(90deg) translateY(288px);
/*transform-origin*/
-webkit-transform-origin:bottom center;
opacity:1;
}
.hidden{
display:none;
}
.alert{
position:fixed;
background-color: rgba(255,255,255,.5);
z-index: 5000;
padding:5px;
font: 50px 'Helvetica Neue';
}