@import url("hk-pyg.css");

body { padding-top: 60px;
       /*font-family: Helvetica Neue, Helvetica, Arial, sans serif;*/ }

h1 { font-family: inherit; font-size: 25pt; }

/*main { max-width: 50em; }*/

footer { /*position:fixed;
         bottom:0;
         padding:2px;
         width:100%;
         color:#888;
         text-align:left;
         font-size:8pt!important;
         background:rgba(255,255,255,.9);*/ display: none }

hr { height:3px; border:none; color:#eee; background-color:#eee; }

blockquote { font-size: inherit; display: none; }

.abstract-toggle { float:right; cursor:pointer; }

.abstract-toggle:hover { text-decoration: none; color: #eee }

.me { border-bottom: 1px dotted rgba(0,0,0,.15); }

ul { list-style-type: square }

ol li { padding: 4px }

li > p { margin: 4px }
