@import url("hk-pyg.css");

body { padding-top: 60px;       /* make room for top-fixed navbar */
       font-size: 12pt;
       font-family: Helvetica Neue, Helvetica, Arial, sans serif;
       line-height: 1.3em; }

h1 { font-family: inherit; font-size: 25pt; }

/*main { max-width: 50em; }*/

footer { position:fixed;
         bottom:0;
         padding:2px;
         width:100%;
         color:#888;
         text-align:left;
         font-size:75%;
         background:rgba(255,255,255,.9); }

.para { line-height: 1.6em }

hr { height:3px; border:none; color:#eee; background-color:#eee; }

blockquote { font-size: 11pt!important; display:none; }

.abstract-toggle { float:right; cursor:pointer; }

.abstract-toggle:hover { text-decoration: none; color: #eee }

.me { border-bottom: 1px dotted rgba(0,0,0,.15); }

ul { list-style-type: square }

ol li { padding: 7px }
