@media only screen and (max-width : 640px) {
    body {
        font: 14px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .container {
        padding: 8px 8px 40px 0px;
        width: 100%;
    }
    .global {
        padding: 15px 10px 0 0;
        position:absolute;
        float: left;
        top:0;
        right:0;
    }
    .sidebar {
        padding: 5px 25px 5px 10px;
    }
    .left {
        float: none;
    }
    .box {
        margin-bottom: 12px;
    }
    .hide {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        padding-left: 10px;
    }
    .yr {
        position: relative;
        /*prevents overflow display*/
    }
    .year {
        opacity: 0.18;
        padding-top: 12px;
    }
    .icon {
        padding: 3px 0 2px 0;
        font-size:small !important;
    }
}

@media only screen and (min-width : 641px) {
    body {
        font: 20px/28px 'Helvetica Neue',Helvetica,Arial,sans-serif;
        -webkit-text-size-adjust: none;
    }
    ul {
        margin: 0;
        padding: 0 0 5px;
    }
    .container {
        padding: 8px 8px 40px;
        width: 750px;
        margin-left: 250px;
    }
    .global {
        position:fixed;
        bottom: 0px;
        left: 0px;
        padding: 0 0 15px 20px;
        background-color: white;
    }
    .sidebar {
        padding: 13px 25px 0 15px;
        position: fixed;
    }
    .left {
        float: left;
    }
    .box {
        margin-left: -100px;
        padding-left: 100px;
        margin-bottom: 12px;
    }
    .hide {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        margin-left: -100px;
        padding-left: 110px;
    }
    .yr {
        position: relative;
        /*prevents overflow display*/
    }
    .year {
        position: absolute;
        opacity: 0.18;
        margin-left: -70px;
        padding-top: 12px;
    }
    .icon {
        padding: 4px 0 4px 0;
    }
    .yr:hover .year {
    	-webkit-animation:bump linear .5s;
    	-moz-animation:bump linear .5s;
    	-o-animation:bump linear .5s;
    	animation:bump linear .5s;
    	-webkit-animation-fill-mode:forwards;
    	-moz-animation-fill-mode:forwards;
    	-o-animation-fill-mode:forwards;
    	animation-fill-mode:forwards;
    }
    @-webkit-keyframes bump { 50% { margin-left:-80px; } 100% { margin-left:-70px; } }
    @keyframes bump { 50% { margin-left:-80px; } 100% { margin-left:-70px; } }
}

.container {
	opacity:0;
	-webkit-animation:fadeIn ease-in .5s;
	-moz-animation:fadeIn ease-in .5s;
	-o-animation:fadeIn ease-in .5s;
	animation:fadeIn ease-in .5s;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.hide {
    transition: max-height .5s ease-in-out, opacity .5s;
    -webkit-transition: max-height .5s ease-in-out, opacity .5s;
    -o-transition: max-height .5s ease-in-out, opacity .5s;
    -moz-transition: max-height .5s ease-in-out, opacity .5s;
    -ms-transition: max-height .5s ease-in-out, opacity .5s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.icon {
    float: right;
    transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    font-size: medium;
}

#expand,#contract {
    border-bottom: none;
    font-size: small;
}

#expand:hover{
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

#contract:hover{
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

input:checked ~ .header .icon {
    transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.break {
    padding: 2px;
}

.header {
    padding: 10px;
    transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    -ms-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    font-weight: 700;
    display: block;
    background-color: rgb(250,250,250);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header:hover {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    box-shadow: 0px 10px 10px -6px cyan;
}

input {
    display: none;
}

input:checked ~ .header {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    box-shadow: 0px 10px 10px -6px rgb(242,242,242);
}

input:checked ~ .header:hover {
    box-shadow: 0px 10px 10px -6px cyan;
}

input:checked ~ div {
    opacity: 1;
}

li {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 10px;
}

ul:first-of-type {
    padding-top: 12px;
}

a:link {
    text-decoration: none;
    color: #000;
    border-bottom: 2px dotted #0fe;
    -o-transition: box-shadow .5s, border-bottom .5s, color .5s;
    -ms-transition: box-shadow .5s, border-bottom .5s, color .5s;
    -moz-transition: box-shadow .5s, border-bottom .5s, color .5s;
    -webkit-transition: box-shadow .5s, border-bottom .5s, color .5s;
    transition: box-shadow .5s, border-bottom .5s, color .5s;
}

a:hover {
    box-shadow: 0px 10px 5px -6px cyan;
    border-bottom: 0px dotted #0fe;
}

a:visited {
    text-decoration: none;
    color: #000;
    border-bottom: 2px dotted #0fe;
}

a:active {
    text-decoration: none;
    color: white;
}