body {
    font:16px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

#content {
    width: 100%
}

#content > ul {
    list-style:none
}

#content > ul > li:before {
    content:'\27a0';
    margin:0 .25em
}

#content > ul > li {
    margin-bottom:10px
}

strong {
    cursor:pointer;
    color:rgb(15,115,255);
    border-bottom:1px dashed #0096c8;
    -webkit-user-select:none
}

a {
    color:rgb(15,115,255);
    text-decoration:none;
    border-bottom:1px dashed #0096c8
}

li {
    padding-bottom:4px
}

ul ul {
    padding-top:7px;
    list-style:disc
}

div div {
    float: left;
    margin: 2px;
    padding: 5px;
    background-color: rgb(0,255,255);
    cursor: pointer;
    -webkit-transition: color, background-color linear .5s;
    -webkit-user-select:none
}

.white {
    color: white;
    background-color: black;
}